*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Cabeçalho do site */

header{
    background-image: url(Imagens/img-header.png);
    background-size: cover;
    height: 43vw;
    position: relative;
}
.star{
    position: absolute;
    width: 24vw;
    left: 18.5%;
    top: 52%;
}
.wars{
    width: 26vw;
    position: absolute;
    right: 9%;
    top: 52%;
}
.kylo{
    width: 70vw;
    position: absolute;
    left: 10%;
    top: -2%;
    filter: drop-shadow(30px 30px 15px rgba(0, 0, 0, 0.9)) contrast(1.1);    
}
.crie{
    position: absolute;
    right: 10.5%;
    top: 76%;
    width: 9.4vw;
}

/* Iniciando a main */

main{
    background-image: url(Imagens/img-aside.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 76vw;
}
.text-Comece{
    position: absolute;
    left: 14.5%;
    top: 77.5%;
    width: 250px;
    height: 430px;
    background-image: url(Imagens/comece_a_jogar.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 10.5vw 10vh 10.5vw;
}
.text-Comece-box1{
    width: 150px;
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
    margin-top: 55px;
    line-height: 1.2;
    color: #fff;
}
.text-Comece-box2{
    width: 250px;
    color: #fff;
    font-size: 16px;
    font-family: 'Mukta', sans-serif;
    opacity: 0.6;
    line-height: 1.2;
}
.text-Comece-box3 button{
    padding: 9px 30px;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    color: #fff;
}
.sobre{
    width: 350px;
    position: absolute;
    right: 28%;
    top: 114.5%;
    text-align: right;
    display: flex;
    flex-direction: column;
}
.sobre-line{
    width: 120px;
    background: black;
    border: 1.5px solid;
    margin: 15px 230px;
}
.sobre-box1{
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
    margin-bottom: -5px;
}
.sobre-box2{
    font-size: 15px;
    font-family: 'Mukta', sans-serif;
    line-height: 1.2;
}
.sobre-img{
    width: 300px;
    position: absolute;
    right: 5%;
    top: 115%;
}
.sobre-img img{
    width: 280px;
}
.line-main{
    width: 78.5%;
    height: 4px;
    background: gray;
    position: relative;
    left: 200px;
    top: 450px;
}
.list-main{
    width: 450px;
    height: 400px;
    position: relative;
    left: 37%;
    top: 50%;
    text-align: right;
}
.list-main h2{
    text-align: right;
    margin-left: 150px;
    margin-bottom: 20px;
    font-size: 3.4em;
    font-family: 'Mukta', sans-serif;
    width: 300px;
    line-height: 3.5vw;
}
.list-main li{
    font-size: 25px;
    padding: 5px;
    font-family: 'Mukta', sans-serif;
}
.jedai-img {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.lord{
    width: 600px;
    margin-left: 100px;
}
.rey{
    margin-top: 65px;
    width: 280px;
    height: 50%;
}
.img-main{
    height: 100vw;
    background: #2D2D2D;
    margin-top: -45px;
    padding: 8.5vw 0 0;
}
.img-main h2{
    font-size: 2.5em;
    font-family: 'Mukta', sans-serif;
    color: #fff;
    margin-left: 14%;

}
.img-main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2.5vw 7vw;
}
.img-main-container figure{
    position: relative;
    width: 50%;
}
.img-main-container img{
    width: 100%;
    height: 100%;
}
.img-main-box{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.hierarquia{
    position: relative;
    margin: 1vw 7vw;
}
.hierarquia img{
    width: 100%;
    height: 100%;
}
.comoJogar-box1{
    padding: 9%;
    padding-left: 15%;
    text-align: center;
    font-size: 1.4em;
    font-family: sans-serif;
    color: #fff;
    background-color: #2D2D2D;
}
.comoJogar-box2{
    display: flex;
}
.img-box2{
    position: relative;
    top: -20.5vw;
    left: 7%;
    width: 28%;
    margin-right: 1%;
}
.img-box2 img{
    width: 100%;
    height: 100%;
}
.container01, .container02, .container03{
    width: 200px;
    height: 100px;
    margin-top: 5%;
    margin-left: 6%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container01 h2, .container02 h2, .container03 h2{
    font-size: 40px;
    font-family: 'Mukta', sans-serif;
    font-weight: normal;
}
.container01 a, .container02 a, .container03 a{
    padding: 6% 15%;
    background: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
}
.container01 p, .container02 p, .container03 p{
    margin: 15% 16%;
    text-align: center;
    font-family: 'Mukta';
    line-height: 1.1;
    font-size: 1em;
}
hr{
    width: 70px;
    border: 3px solid;
}

/* Iniciando a Footer */

footer{
    position: absolute;
    height: 46vw;
    width: 95vw;
    top: 520%;
    padding: 3.5vw 9vw 0 14.5vw;
    background: linear-gradient(90deg, #ff5a56, #ff5a56 64%, #fff 64%, #fff)
}
.footer-box01{
    width: 350px;
    height: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 4px solid firebrick;
    padding-bottom: 30px;
}
.footer-box01 h4{
    padding-bottom: 1em;
    font-size: 2em;
    font-family: sans-serif;
    color: #fff;
}
.footer-box01 figure{
    display: flex;
    width: 50%;
}
.footer-box01 p{
    font-family: 'Mukta';
    color: #fff;
    font-size: 14px;
}
.footer-box01 figure img{
    margin-right: 10px;
    width: 95%;
}